.Header {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding: 0em;
    margin-bottom: 2em;
    background-color: rgb(161, 157, 156);
    color: #0f0f0f;
}